server {
    listen 80;
    server_name melanoma-scan.site;

    location / {
        return 301 https://$server_name$request_uri;
    }
}

server {
    listen 443 ssl;
    ssl_certificate     /ssl/cert.pem;
    ssl_certificate_key /ssl/cert.key;
    server_name     melanoma-scan.site;
    client_max_body_size 1G;

    location / {
        proxy_pass       http://frontend:3000/;
        proxy_redirect   off;
    }

    location ^~ /api {
        rewrite ^/api/(.*) /$1 break;
        proxy_pass       http://backend:8000/;
        proxy_redirect   off;
    }
}
